$orange: #e36414;
$purple: #bbadff;
$green: #52b788;
$yellow: #ffd500;
$red: #d90429;

.checked {
    /* Removeing default button styling */
    border: none;
    outline: none;
    font-family: 'Press Start 2P';
    background: url(../../radio.svg) left 10px center no-repeat;
    /* Adding custom styling */
    cursor: pointer;
    width: 33%;
    transition: all 0.2s ease;
    box-shadow: 0 0.3rem black, rgba(0, 0, 0, 0.363) -2px 7px 10px;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    border: 2px solid black;
    font-weight: 500;
    margin: 0.5rem;
    &:active {
        box-shadow: none;
        transform: translateY(0.3rem);
        border: 1px solid black;
    }
    &.active {
        box-shadow: none;
        transform: translateY(0.3rem);
        border: 2px solid black;
        background: url(../../radiochecked.svg) left 10px center no-repeat;
    }
}
@media screen and (max-width: 950px) {
.checked{
    width: 80%;
}
}
