$orange: #e36414;
$purple: #bbadff;
$green: #52b788;
$yellow: #ffd500;
$red: #d90429;
$violet: #aa7fea;

.results {
    min-height: 100vh;
    background-color: #52b788;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    padding: 2rem 0 2rem 0;

    .results__center {
        display: flex;
        align-items: center;
        justify-content: center;
        .monster {
            margin: 0rem;
            width: 8rem;
            animation: updown 4s linear infinite;
        }
        @keyframes updown {
            0% {
                transform: translate(-0px, 0px);
            }
            50% {
                transform: translate(0px, 20px);
            }
            100% {
                transform: translate(-0px, -0px);
            }
        }
    }
    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        padding: 1.5rem 0;
    }

    .score {
        // width: 60%;
        margin: 1rem;
        border: 0.2rem solid black;
        border-radius: 2rem;
        box-shadow: rgba(0, 0, 0, 0.47) 0px 4px 20px;
        background-color: #445dce;
        text-align: center;
        overflow: hidden;
        .score__title {
            border-bottom: 0.2rem solid black;
            padding: 1rem;
            background-color: #c55bab;
        }
        .score__count {
            padding: 1rem;
            text-align: center;
            color: whitesmoke;
            padding-bottom: 0.5rem;
        }
        h1 {
            color: #eb1177;
            text-shadow: 1px 1px whitesmoke;
            padding-bottom: 0.5rem;
        }
        .score__text {
            padding: 0.5rem 2rem 2rem;
            font-weight: bolder;
            text-align: center;
            color: rgb(0, 0, 0);
        }
    }

    .answers {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        .answers__card {
            width: 100%;
            overflow: hidden;
            margin: 0.5rem;
            border: 0.2rem solid black;
            border-radius: 1rem;
            box-shadow: rgba(0, 0, 0, 0.47) 0px 4px 10px;
            background-color: rgb(200, 191, 231);

            .answers__question {
                color: whitesmoke;
                border-bottom: 0.2rem solid black;
                padding: 1rem 0.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
                padding: 1rem 1rem 1rem 2rem;
                h3 {
                    width: 85%;
                }
                p {
                    width: 15%;
                    text-align: right;
                }
            }
            .answers__question--correct {
                background-color: #288F77;
            }
            .answers__question--incorrect {
                background-color: #c61b38;
            }
            .answers__possibleAnswers {
                padding: 1rem 1rem 1rem 0;
                ul {
                    .answers__option {
                        list-style-type: none;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        .answer__icon {
                            width: 1.5rem;
                            height: 1rem;
                        }
                        .answer__text {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 700px) {
    .results {
        .answers {
            width: 100%;
            padding: 0 1rem 0 1rem;
        }
    }

    .results__center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .monster {
        margin: 0rem;
        width: 8rem;
        animation: updown 4s linear infinite;
        display: block;
    }
}
