
$orange: #e36414;
$purple: #bbadff;
$green: #52b788;
$yellow: #ffd500;
$red: #d90429;

.results {
    height: 100vh;
    background-color: rgb(40, 196, 157);
    .answers {
        width: 80%;
    }
}

